title: "Muhammad Khairi bin Samsudin - Portfolio"
email: khairisamsudin94@gmail.com
linkedin_username: khairisam
github_username: xion-xion
description: "Multi-Disciplinary Engineer | Bridging Hardware & Software | Making Machines Talk & Think | IoT & Automation Enthusiast"
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
