title: "Muhammad Khairi bin Samsudin - Portfolio"
email: khairisamsudin94@gmail.com
linkedin_username: khairisam
github_username: xion-xion
description: "A results-driven engineer and leader with extensive experience directing complex projects from concept to final delivery."
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
